#server配置
server:
  port: 8088 #配置servlet端口
    #servlet:
  #context-path: /blog #配置路径
  tomcat:
    uri-encoding: utf-8  #配置tomcat编码


#spring配置
spring:
  profiles:
    active: dev #环境 dev|test|pro
  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 100MB
#  redis: #redis配置
#    # Redis数据库索引（默认为0）
#    database: 0
#    # Redis服务器地址
#    host: 127.0.0.1
#    password:
#    pool:
#      # 连接池中的最大空闲连接
#      max-idle: 8
#      max-wait: 60000
#    # Redis服务器连接端口
#    port: 6379
#    # 连接超时时间（毫秒）
#    timeout: 1000
    
#mybatis-plus的配置
mybatis-plus:
  mapper-locations: classpath:/mapper/*.xml  #mapper文件的位置
  type-aliases-package: com.lxq.blog.module.pojo #配置别名
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl  #打印sql语句

fdfs:
  so-timeout: 2500       # \u8BFB\u53D6\u65F6\u95F4
  connect-timeout: 1600   # 连接超时时间
  thumb-image:           # \u7F29\u7565\u56FE
    width: 100
    height: 100
  tracker-list:        # tracker地址，多个可fdfs.trackerList[0]、fdfs.trackerList[1]等方式配置
    - 111.230.202.74:22122
upload:
  base-url: http://111.230.202.74/
  allow-types:
    - image/jpeg
    - image/png
    - image/bmp
    - image/gif
    - audio/mpeg





